
<div class="bg">
    <img  src="../assets/bg.png" alt="">
</div>


<div class="welcome">
    <h1>Welcome</h1>
    <p>Unforgettable experiences only with TraveLove!</p>
</div>


<div class="info">
    <div class="contact">
        <h3>Contact us</h3>
        <p>+48 123 456 789</p>
        <p>travelove@travel.com</p>
    </div>
    <div class="map">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2561.0198040903656!2d19.914075757580573!3d50.06719075749785!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47165ba4e8e56e5b%3A0xe83b737e3df38729!2sWydzia%C5%82%20Informatyki%2C%20Elektroniki%20i%20Telekomunikacji%20Akademii%20G%C3%B3rniczo-Hutniczej%20w%20Krakowie!5e0!3m2!1spl!2spl!4v1670776929602!5m2!1spl!2spl" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
</div>
